---

export const SIDEBAR = [
{ text: "Getting Started", header: true },
  { text: "Introduction", link: "/docs" },
  { text: "Components", header: true },
  { text: "Accordion", link: "/docs/accordion" },
  { text: "Breadcrumb", link: "/docs/breadcrumb" },
  { text: "Modal", link: "/docs/modal" },
  { text: "Tab", link: "/docs/tab" },
  { text: "Table", link: "/docs/table" },
  { text: "List", link: "/docs/list" },
  { text: "Sidebar", link: "/docs/sidebar"},
  { text: "Card", link: "/docs/card"},
  { text: "Buttons", link: "/docs/buttons" },
  { text: "Input", link: "/docs/input" },
  { text: "Tools", header: true },
  { text: "clsx", link: "/tools/clsx" },
  { text: "Condition", link: "/tools/condition" },
  { text: "Pagination", link: "/tools/pagination" },
  { text: "MediaQuery", link: "/tools/media-query"}
];
const { currentPage } = Astro.props;
const currentPageMatch = currentPage.slice(1);

const isCurrentPage = (item: typeof SIDEBAR[number]
) => {
	// console.log('link',"=>",item.link,',current',"=>",currentPage,',currentMatch',"=>",currentPageMatch)
	if (item.link) {
		return (currentPage === item.link || (currentPage[item.link.length] === '/' && currentPage.split('/').length === item.link.split('/').length))  

	}
	return false;
};

const getLinkClasses = (link: typeof SIDEBAR[number]) => {
	const baseClasses = "block py-2 px-6 text-slate-500 dark:text-white my-1 transition-colors border-l hover:border-slate-400 hover:text-slate-900"
	if (isCurrentPage(link)) {
		return baseClasses + " border-slate-500 text-slate-900";
	} else {
		return baseClasses;
	}
}
---

	<nav aria-labelledby="grid-left" class="w-64 px-4 pt-3 pb-6 h-full">
		<ul>
			{SIDEBAR.map(item => (item.header ? 
				<h2 class="font-semibold text-slate-700 dark:text-white">{item.text}</h2> : 
				<li class={getLinkClasses(item)}>
					<a href={item.link}>{item.text}</a>
				</li>
				))
			}
		</ul>
	</nav>


