---
import Header from '../components/Header/Header.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';
import HeadCommon from '../module/HeadCommon.astro';
const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<HeadCommon />
		<title>{content.title ? `${content.title}` : 'Document'}</title>
	</head>
	<body class="bg-slate-100 dark:bg-black">
		<Header currentPage={currentPage} />
		<div class="md:grid md:grid-cols-12 h-[calc(100vh_-_81px)] max-w-screen-2xl mx-auto">
			<aside id="sitebar" title="Site Navigation" class="hidden fixed md:relative top-[65px] md:top-0 max-h-full bg-white  md:bg-transparent md:col-span-3 border-r md:flex justify-end overflow-y-auto">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<main class="py-4 px-8 pb-32 md:col-span-7 overflow-y-auto">
				<slot />
			</main>
			<aside class="sticky top-0 md:col-span-2 md:block hidden">
				<RightSidebar content={content} />
			</aside>
		</div>
	</body>
</html>

<script>
	const sitebar_btn = document.querySelector('#sitebar_action_btn');
	const sitebar = document.querySelector('#sitebar');
	sitebar_btn?.addEventListener('click', () => {
		if(sitebar?.classList.contains("hidden")){
			sitebar.classList.remove("hidden")
			//sitebar.setAttribute('style', 'position:fixed; background-color:white')
		}else{
			sitebar?.classList.add("hidden")
		}
	})
	const root = document.documentElement;
	const theme = localStorage.getItem('theme');
	if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		root.classList.add('dark');
	} else {
		root.classList.remove('dark');
	}
</script>