---
import Header from '../components/Header/Header.astro';
import HeadCommon from '../module/HeadCommon.astro';
const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
	<head>
        <HeadCommon />
		<title>{content.title ? `${content.title}` : 'Document'}</title>
	</head>
	<body class="bg-slate-100">
		<div class="sticky top-0 z-10 w-full">
			<Header currentPage={currentPage} />
		</div>
        <slot />
	</body>
</html>

